<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1 style="text-align : center;">Hello {{ name }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque assumenda temporibus eveniet quo inventore quas est. Voluptatum, accusamus eius inventore deserunt ullam suscipit dolorem perferendis maxime, optio cum doloribus distinctio.
    Sit iusto ad doloribus delectus dolore eaque nulla explicabo dolor mollitia beatae. Consectetur neque, dolores illo quae necessitatibus aliquam eum dolore fugiat deserunt molestiae voluptatem officia porro perspiciatis vitae fuga.
    Accusantium ipsum consequatur possimus corporis vero eveniet dolores qui amet sed atque ut recusandae quae cum dolore porro quos aperiam maxime, voluptatem excepturi impedit sapiente incidunt quibusdam. Debitis, eum amet?
    Recusandae repellat, minima laboriosam cumque architecto nam. Sapiente voluptates atque numquam ex, nihil aperiam illo. Error dolorem ad qui ea quibusdam officia dolor culpa quae dolores ipsam? Nobis, dignissimos deserunt.
    Autem nemo iusto expedita harum eveniet aliquam libero. Quo delectus pariatur ullam magnam in ducimus officiis voluptate veritatis repellendus recusandae temporibus, accusamus dignissimos! Eaque temporibus quibusdam voluptates voluptatem, esse laboriosam.</p>
</body>
</html>