<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ job }}</title>
</head>
<body>
    <div>
        <h1>{{ job }} </h1>
        <p>Bonjour <strong>{{ name }} </strong>  symfony 6  est tres facile pour toi <br>
        Allez un peut de courage ok </p>
    </div>
</body>
</html>